<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">

    <insert id="insert" parameterType="Comment">
        insert into comment(pid, rid, replyId, replyName, replyText, createdAt, updatedAt)
        values(#{pid}, null, #{replyId}, #{replyName}, #{replyText}, now(), now())
    </insert>

    <select id="selectAll" resultType="Comment">
        select *
        from comment
        where pid=#{pid}
    </select>

    <update id="update" parameterType="Comment">
        update comment
        set replyText=#{replyText}, updatedAt=now()
        where rid=#{rid}
    </update>

    <delete id="delete">
        delete from comment where rid=#{rid}
    </delete>
</mapper>