<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comment">

    <insert id="insert" parameterType="Comment">
        insert into comment(pid,rid, parentid ,depth, replyemail, replynickname, replytext, created, updated)
        <if test="parentid == null">
            values( #{pid}, null, 0, 0,#{replyemail}, #{replynickname},#{replytext}, now(), now())
        </if>
        <if test="parentid != null">
             values(#{pid}, null, #{parentid}, 1, #{replyemail}, #{replynickname}, #{replytext}, now(), now())
        </if>
    </insert>

    <select id="selectAll" resultType="Comment">
        select *
        from comment
        where pid=#{pid}
        order by if ( parentid = 0, rid, parentid)
    </select>

    <select id="selectOne" resultType="Comment">
        select *
        from comment
        where pid=#{pid}
        and rid=#{rid}
    </select>

    <update id="update" parameterType="Comment">
        update comment
        set replytext=#{replytext}, updated=now()
        where pid=#{pid}
        and rid=#{rid}
    </update>

    <delete id="delete" parameterType="Comment">
        delete from comment where pid=#{pid} and rid=#{rid}
    </delete>


</mapper>