<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">
    <select id="selectAllByWriter" resultType="Post">
        select p.pid, p.email, p.nickname, p.content, p.title, p.created, p.updated, p.likes
        from post p, user u
        where p.email=u.email
        and u.email=#{email}
    </select>

    <insert id="insert" parameterType="Post" useGeneratedKeys="true" keyProperty="pid">
        insert into post(email,nickname,content,title, created, updated, likes,description,thumbnail)
        values(#{email},#{nickname},#{content}, #{title},curdate(), curdate(), 0,#{description},#{thumbnail})
    </insert>

    <select id="selectAll" resultType="PagingPost">
        select *, ROUND (@num:=@num+1) as num
        from (select @num:=0) a,post
        limit #{startPage}, #{endPage}
    </select>

    <select id="selectOne" parameterType="String" resultType="Post">
        select *
        from post
        where pid=#{pid}
    </select>

    <update id="update" parameterType="Post">
        update post
        set title=#{title}, content=#{content}, description=#{description}, thumbnail=#{thumbnail}, updated=curdate()
        where pid=#{pid}
    </update>

    <update id="addLike">
        update post
        set likes=likes+1
        where pid=#{pid}
    </update>

    <delete id="delete" parameterType="String">
        delete from post where pid=#{pid}
    </delete>

    <select id="commonSearch" parameterType="Map" resultType="Post">
        select *
        from post
        where content like concat('%',#{q},'%')
        or title like concat('%',#{q},'%')
        order by updated
        limit #{startPage}, #{endPage}
    </select>
    
    <select id="getNextpid" resultType="java.lang.Long">
        select max(pid)
        from post;
    </select>
</mapper>