<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="post">
    <select id="selectAllByWriter" resultType="Post">
        select *
        from post
        where post.usr_id=#{usr_id}
    </select>

    <insert id="insert" parameterType="Post" useGeneratedKeys="true" keyProperty="pid">
        insert into post(email,nickname,content,title, created, updated, likes,description,thumbnail,repo_id,usr_id)
        values(#{email},#{nickname},#{content}, #{title},curdate(), curdate(), 0,#{description},#{thumbnail}, #{repoId},#{usrId})
    </insert>

    <select id="selectAll" resultType="PagingPost">
        select *, ROUND (@num:=@num+1) as num
        from (select @num:=0) a,post
        limit #{startPage}, #{endPage}
    </select>

    <select id="selectOne" parameterType="String" resultType="Post">
        select *
        from post
        where pid=#{pid}
    </select>

    <update id="update" parameterType="Post">
        update post
        set title=#{title}, content=#{content}, description=#{description}, thumbnail=#{thumbnail}, updated=curdate()
        where pid=#{pid}
    </update>

    <update id="addLike">
        update post
        set likes=likes+1
        where pid=#{pid}
    </update>

    <delete id="delete" parameterType="String">
        delete from post where pid=#{pid}
    </delete>

    <select id="commonSearch" parameterType="Map" resultType="Post">
        select *
        from post
        where content like concat('%',#{q},'%')
        or title like concat('%',#{q},'%')
        order by updated
        limit #{startPage}, #{endPage}
    </select>

    <select id="tagSearch" resultType="Post">
        select p.pid, p.content, p.created, p.description, p.email, p.likes, p.nickname, p.thumbnail, p.title, p.updated
        from post p, posttag pt, tag t
        where t.tagname = #{tagname}
        and t.tagid = pt.tagid
        and p.pid=pt.pid
        order by p.updated
        limit #{startPage}, #{endPage};
    </select>
    
    <select id="getNextpid" resultType="java.lang.Long">
        select max(pid)
        from post
    </select>

    <select id="getPrevPage" resultType="java.lang.Long">
        select max(pid) from post where pid <![CDATA[ < ]]> #{pid}
    </select>

    <select id="getNextPage" resultType="java.lang.Long">
        select min(pid) from post where pid <![CDATA[ > ]]> #{pid}
    </select>

    <select id="getHotRepos" resultType="HotRepository">
        select
            r.id as repoId, r.name as name, r.usr_id as usrId, r.repo_name as repoName, sum(p.likes) likes
        from
            repository r join post p
        where
            p.repo_id = r.id
        group by r.id
        order by likes desc
        limit 3;
    </select>

</mapper>