<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tag">
    <select id="isDuptag" resultType="Tag">
        select * from tag where tagname=#{name}
    </select>

    <insert id="insertNewTag" useGeneratedKeys="true" keyProperty="tagid">
        insert into tag values (null, #{tagname})
    </insert>

    <insert id="connectTag">
        insert into posttag values (#{pid},#{tagid})
    </insert>

    <select id="getTags" resultType="java.lang.String">
       select t.tagname
        from posttag p, tag t
        where p.pid=#{pid}
        and p.tagid = t.tagid
    </select>

    <select id="getAllTags" resultType="Tag">
       select t.tagname, t.tagid
        from posttag p, tag t
        where p.pid=#{pid}
        and p.tagid = t.tagid
    </select>

    <delete id="deleteTag">
        delete from posttag where pid=#{pid}
    </delete>

    <select id="getRepoTags" resultType="Tag">
        select t.tagname
        from post p, posttag pt, tag t
        where p.repo_id = #{repo_id}
        and p.pid = pt.pid
        and pt.tagid = t.tagid
    </select>

</mapper>