<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tag">
    <select id="isDuptag" resultType="Tag">
        select * from tag where tagname=#{name}
    </select>

    <insert id="insertNewTag" useGeneratedKeys="true" keyProperty="tagid">
        insert into tag values (null, #{tagname})
    </insert>

    <insert id="connectTag">
        insert into posttag values (#{pid},#{tagid})
    </insert>
</mapper>