* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Cousine', sans-serif;;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  font: 300 16px 'Cousine';
  color: #444;
  line-height: 1.5em;
}
.raw-switch {
  font-size: 0.9em;
  color: #444;
  position: fixed;
  top: 20px;
  left: 40px;
  z-index: 1;
}
aside, section {
  width: 50%;
  padding: 40px 80px;
}
aside {
  background: #f1f1f1;
  white-space: pre-wrap;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  float: left;
}
aside:focus {
  outline: none;
}
section {
  height: 100%;
  margin-left: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
}
section h1 {
  font-size: 1.8em;
}
section b {
  font-weight: 700;
}
section pre {
  overflow-y: scroll;
}
