* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Cousine', sans-serif;;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  font: 300 16px 'Cousine';
  color: #444;
  line-height: 1.5em;
}
section {
  width: 100vw;
  height: 50vh;
}
section {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
section h1 {
  font-size: 1.8em;
}
section b {
  font-weight: 700;
}
section pre {
  overflow-y: scroll;
}
